header{
    margin-bottom: 50px;
}


header li {
                liste-style:none;
                display:inline-block;
                width:18%;
                texte-align:center;
                text-align: center;
                border-radius:10px;
                text-decoration:none;
                font-family: 'Source Code Pro';
               font-size:16px;
}
    
header a {
              color:black;
              text-decoration:none;
              opacity:1;
              transition: 0.5s opacity linear;
}

header a:hover{
    opacity:0.5;
}

header h1 {
               font-family: 'Source Code Pro';
               font-size:60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {font-family: 'Julius Sans One', sans-serif;
}

.galerie{
    text-align: center;
}

.galerie-bloc {
    display: inline-block;
    position: relative;
}

.galerie-legende {
    position: absolute;
    top:50%;
    left:0;
    width:100%;
    margin-top: -15px;
    text-align:center;
}

.galerie-legende p {
    background-color:green;
    padding:10px 20px;
    border-radius:10px;
    font-size:20px;
    opacity:0.8;
    color:white;    
    margin:0;
    display: inline-block;
}

img {
    max-width: 500px;
    display: block;
}

div p {
    font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  color: #595856;
  font-size: 30px;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 50px 0 10px 0;
  text-align: center;
  width: auto;
  border-bottom: 1px solid 
}